#im1 {
	position: absolute;
    width: 180px;
}
#par1 {
	color: brown; 
    background-color: rgb(124, 125, 194);
    padding:50px 0px 50px 500px ;
    word-spacing: 200px;
    font-size:30px ;
}
#p2{
	margin-left: 40%;
	font-size: 200%;
	margin-top: 3%;

}
#im2{
	width: 20%;
	position: absolute;
	margin-left: 18%;
	margin-top: -4%;
}
#f1{
	margin-left: 40%;
	font-size: 200%;    
}
#pf1{
	font-size: 150%;
	margin-left: 12%;
}
#l1{
	padding-right: 10%;
}
#l2{
	padding-right: 16.8%;
}
#l3{
	padding-right: 12.9%;
}
#l4{
	padding-right:16.5%;
}
#Massage {
	block-size: 0%;
}
#submit{
margin-left: 23%;
}
#lp1{
    background-color: bisque;
    margin-right: 85%;
}
#lp2{
	background-color:  rgb(124, 125, 194);
    padding:50px 0px 50px 700px ;
}
